.mainPage__heading{
    margin: 30px;
    color: #1c2237;
    display: flex;
    align-items: center;
    justify-content: center;
}



.mainPage_container{
    min-height: 50vh;
}

.mainPage__content{
    padding: 20px;
    padding-top: 0;
}

.mainPage__content > span {
    text-decoration: underline;
}

.mainPage__bold{
    font-weight: bold;
    margin: 10px;
    padding-bottom: 30px;
    margin-top: 0;
}

.mainPage__def {
    margin:10px;
    padding-bottom: 20px;
}

.excelsheet{
    margin-top: 30px;
    margin-bottom: 30px;
}

.ipo__options{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* .ipo__options > a {
    color: white;
} */

button {
    /* margin: 20px; */
    outline: none;
  }
  .custom-btn {
    width: 300px;
    padding: 10px 25px;
    border: 2px solid #fff;
    font-family: 'Lato', sans-serif;
    font-size:20px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }

.btn-6 {
  background: #1c2237;
   color: #fff;
   line-height: 42px;
   padding: 0;
   border: none;
 }

a{
  text-decoration: none;
  color: inherit;
}

.excelsheet > iframe {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 4px 4px 14px #000;
    -webkit-box-shadow: 4px 4px 14px #000;
    box-shadow: 4px 4px 14px #000;
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2);
    } 

.glowingButton {
    background-color: #1c87c9;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
    color: #eeeeee;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 20px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    margin: 20px;
    display: flex;
    justify-content: center;
  }
  @keyframes glowing {
    0% {
      background-color: #1c2237;
      box-shadow: 0 0 5px #1c2237;
    }
    100% {
      background-color: #20273f;
      box-shadow: 0 0 20px #20273f;
    }
  }
  .glowingButton {
    animation: glowing 1300ms infinite;
  }

  .signup__main{
      display: flex;
  }

  #loginVideo{
      margin: 20px;
  }

  .signup__button{
      display: flex;
      justify-content: center;
  }